{% extends "layout.html" %}

{%block title %}
<title>Not Playing</title>
{%endblock%}

{% block main %}
<!--wooo nothing is playing rn-->
<div id="outer">
    <div id="center">
        <h1 class="not-playing">Nothing is currently playing.</h1>
    </div>
</div>

<script>
    // Pass variables to JavaScript
    window.SONG_ID = "{{song_id}}";
    window.CURRENTLY_PLAYING = {{currently_playing | tojson}};
    window.SCREEN_SERVER_URL = {{ screen_server_url | tojson }};
</script>
<script src="/static/js/not_playing.js"></script>
{% endblock %}